*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    height: 6800px;
    display: flex;
    flex-wrap: wrap;
    background: 
  radial-gradient(ellipse 100vh 300vh at 40% 45%, #0c2d745c, transparent 100%),
  radial-gradient(ellipse 100vh 300vh  at 70% 45%, #7679166b, transparent 100%),
  radial-gradient(ellipse 70vh 50vh  at 0% 0%, #0b65c07d, transparent 100%),
  #000000;
  background-size:
    200% 200%,
    200% 200%,
    auto;

  background-position:
    0% 50%,
    100% 50%,
    center;

  animation: radial 6s linear infinite;
}
@keyframes radial {
  from {
    background-position:
      0% 50%,
      100% 50%,
      center;
  }
  to {
    background-position:
      200% 50%,
      -100% 50%,
      center;
  }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 58vh;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 15vh;
    overflow: hidden;
    z-index: 100;
}

.button{
  /* position:relative;
  display:inline-block; */
  width: 750px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;

  transition-duration: 0.3s;
}

.button a{
  /* border-radius: 20px; */
  width: 650px;
  color:black;
  font-family: "Staatliches", sans-serif;
  font-style: italic;
  font-weight:bold;
  font-size:100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration:none;
  display:flex;
  flex-wrap: wrap;
  position:relative;
  background-color: #DDE33F;
  margin-left: 12vh;
  
}
.a a{
  background-color: #E6F0FD;
 /* #8dbeec; */
} 
.b a{  
  background-color: #2E7CE9;
/* #165bbb; */
}
.button:hover{
    margin-left: 10vh;
    transition: 0.3s;
}
.btn-1{
    clip-path: polygon(
    50% 0%,
    100% 0%,
    100% 100%,
    40% 100%
  );
}
.btn-1 a{
    margin-left: 20vh;
}
.btn-2{
    clip-path: polygon(
    40% 0%,
    100% 0%,
    100% 100%,
    30% 100%
  );
}

.btn-3{
    clip-path: polygon(
    30% 0%,
    100% 0%,
    100% 100%,
    20% 100%
  );
}
.btn-3 a{
    margin-left: 13vh;
    
}
.btn-4{
    clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 100%,
    10% 100%
  );
}
.btn-4 a{
    width: 650px;
    margin-left: 10vh;
}
.btn-5{
    clip-path: polygon(
    14% 0%,
    100% 0%,
    100% 100%,
    14% 100%
  );
}
.btn-5 a{
    margin-left: 9vh;
    width: 650px;
}
.presentacion{
    width: 100%;
    height: 1006px;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
  
}
.texto{
    margin: auto;
    margin-left: 40vh;
    width: 920px;
    height: 440px;
    display: flex;
    color: white;
    font-size: 36px;
    flex-wrap: wrap;
}
.texto h1{
    margin-right: 30vh;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 100px;
    font-family: "Jersey 10", sans-serif;
}
.texto h3{
    width: 80%;
    margin-left: 10vh;
    display: block;
    font-weight: normal;
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}
.texto b{
    font-weight: 900;
}

.texto h3 span {
  display: inline-block;
  max-width: 100%;
}
.buttons{
    width: 100%;
    height: 84px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.buttons button{
    width: 317px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
    box-shadow: 0px 17px 4px rgba(0, 0, 0, 0.762);
    transition-duration: 0.3s;
}
.buttons button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.download{
    background:linear-gradient(90deg, #85b3f331 20%, rgba(0, 0, 0, 0.654)  100%);
    border: 2px solid #2E7CE9;
    color: #ffffff;
}
.text-gradient {
  background: linear-gradient(90deg, #ffffff, #2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.download:hover{
    background-color: #2e7ce97c; 
    color: #accfff;
}
.github{
    border: none;
    background-color: #DDE33F; 
    color:black;
}
.photo{
    width: 500px;
    height: 500px;
    margin-top: 10vh;
    margin-right: 10vh;
    border-radius: 100%;
    background-color: #2D00B4;
    overflow: hidden;  
    
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skills{
    margin: 0 auto;
    width: 1231px;
    height: 1480px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", "Segoe UI", sans-serif;
    animation: bounce;
    z-index: 100;
}

.skills-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #2E7CE9;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(111, 151, 211, 0.143);
    transition-duration: .3s;
}
.skills-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.cuadros{
    width: 100%;
    height: 1234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8vh;
}
.habilidad{
    width: 585px;
    height: 567px;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
   /* transparencia */
  backdrop-filter: blur(10px);          /* desenfoque */
  -webkit-backdrop-filter: blur(10px);  /* soporte Safari */
  border-radius: 22px;
  border: 1px solid rgba(209, 209, 209, 0.254); 
  box-shadow: 2px 20px 4px rgba(0, 0, 0, 0.762);  
}
.habilidad:nth-of-type(1){
  background:
  linear-gradient(-45deg, #4278d450 20%, #000 90%);
}
.habilidad:nth-of-type(2){
  background:
  linear-gradient( 135deg, #4278d450 20%, #000 90%);
}
.habilidad:nth-of-type(3){
  background:
  linear-gradient(135deg, #4278d450 20%, #000000 90%), #00000093;
}
.habilidad:nth-of-type(4){
  background:
  linear-gradient(-45deg, #4278d450 20%, #000 90%), #00000093;
}
.img{
    width: 100px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}
.img img{
    width: 80px;
    height: 80px;
    display: flex;
    transition-duration: .5s;
}
.img img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.img h4{
    
    font-size: 20px;
}
.projects{
    margin: 0 auto;
    width: 1636px;
    height: 2324px;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}
.projects-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #E6F0FD;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(3, 75, 183, 0.157);
}
.projects-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 3vh;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 3vh;
    margin-left: 5vh;
}
.containers-projects{
    width: 100%;
    height: 421px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);          /* desenfoque */
    -webkit-backdrop-filter: blur(10px);  /* soporte Safari */
    border-radius: 22px;
    border: 1px solid rgba(163, 163, 163, 0.148); 
    box-shadow: 2px 20px 4px rgba(0, 0, 0, 0.762);  
    background-size: cover;
    justify-content: space-evenly;
    
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20vh;
    width: 430px;
    margin: 0 auto;
    margin-left: 20vh;
    
}
.project-sentence{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10vh;
    align-content: space-between;
}
.about-me{
    width: 100%;
    height: 1042px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 100;
}
.about-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #E6F0FD;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(111, 151, 211, 0.143);
    transition-duration: .3s;
    font-family: "Barlow Semi Condensed", sans-serif;
    
}
.about-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.aboutme-photo{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;  
}
.aboutme-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact{
    z-index: 100;
    width: 100%;
    height: 577px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;

}
.up{
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #153855;
    transition-duration: 0.3s;
}
.up:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.up-2{
    position: absolute;
    left: 190vh;
    top: 380vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #152055;
    transition-duration: 0.3s;
}
.up-3{
    position: absolute;
    left: 170vh;
    top: 240vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #dde33f5f;
    transition-duration: 0.3s;
}
/* COPOS DE NIEVE */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
  opacity: 0.2;
}

.snow {
  position: absolute;
  top: -50px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  from { transform: translateY(0); }
  to   { transform: translateY(100vh); }
}