*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: 
  radial-gradient(ellipse 100vh 300vh at 40% 45%, #0c2d745c, transparent 100%),
  radial-gradient(ellipse 100vh 300vh  at 70% 45%, #7679166b, transparent 100%),
  radial-gradient(ellipse 70vh 50vh  at 0% 0%, #0b65c07d, transparent 100%),
  #000000;
  background-size:
    200% 200%,
    200% 200%,
    auto;

  background-position:
    0% 50%,
    100% 50%,
    center;

  animation: radial 6s linear infinite;
  overflow-x: hidden;
  overflow-y: hidden;
}
@keyframes radial {
  from {
    background-position:
      0% 50%,
      100% 50%,
      center;
  }
  to {
    background-position:
      200% 50%,
      -100% 50%,
      center;
  }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 65vh;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 15vh;
    overflow: hidden;
    z-index: 100;
}
.button{
  width: 750px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;

  transition-duration: 0.3s;
}
.button a{
  /* border-radius: 20px; */
  width: 650px;
  color:black;
  font-family: "Staatliches", sans-serif;
  font-style: italic;
  font-weight:bold;
  font-size:100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration:none;
  display:flex;
  flex-wrap: wrap;
  position:relative;
  background-color: #DDE33F;
  margin-left: 12vh;
  
}
.a a{
  background-color: #E6F0FD;
 /* #8dbeec; */
} 
.b a{  
  background-color: #2E7CE9;
/* #165bbb; */
}
.button:hover{
    margin-left: 10vh;
    transition: 0.3s;
}
.btn-1{
    clip-path: polygon(
    50% 0%,
    100% 0%,
    100% 100%,
    40% 100%
  );
}
.btn-1 a{
    margin-left: 20vh;
}
.btn-2{
    clip-path: polygon(
    40% 0%,
    100% 0%,
    100% 100%,
    30% 100%
  );
}
.btn-3{
    clip-path: polygon(
    30% 0%,
    100% 0%,
    100% 100%,
    20% 100%
  );
}
.btn-3 a{
    margin-left: 13vh;
    
}
.btn-4{
    clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 100%,
    10% 100%
  );
}
.btn-4 a{
    width: 650px;
    margin-left: 10vh;
}
.btn-5{
    clip-path: polygon(
    12.8% 0%,
    100% 0%,
    100% 100%,
    12.8% 100%
  );
}
.btn-5 a{
    margin-left: 9vh;
    width: 650px;
}
.presentacion{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
  
}
.texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 920px;
    height: 440px;
    display: flex;
    color: white;
    font-size: 36px;
    flex-wrap: wrap;
}
.title{
    width: 70%;
    margin-left: 15%;
    display: flex;
}
.texto h1{
    margin-right: 30vh;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 100px;
}
.im {
    margin-top: 6vh;
    margin-left: 25%;
}
.texto h3{
    width: 80%;
    margin-left: 10vh;
    display: block;
    font-weight: normal;
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}
.texto b{
    font-weight: 900;
}

.texto h3 span {
  display: inline-block;
  max-width: 100%;
}
.buttons{
    width: 100%;
    height: 84px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.buttons button{
    width: 317px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
    box-shadow: 0px 17px 4px rgba(0, 0, 0, 0.762);
    transition-duration: 0.3s;
}
.buttons button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.download{
    background:linear-gradient(90deg, #85b3f331 20%, rgba(0, 0, 0, 0.654)  100%);
    border: 2px solid #2E7CE9;
    color: #ffffff;
}
.text-gradient {
  background: linear-gradient(90deg, #ffffff, #2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.download:hover{
    background-color: #2e7ce97c; 
    color: #accfff;
}
.github{
    border: none;
    background-color: #DDE33F; 
    color:black;
}
.photo{
    width: 500px;
    height: 500px;
    margin-top: 10vh;
    margin-right: 10vh;
    border-radius: 100%;
    background-color: #2D00B4;
    overflow: hidden;  
    
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-title{
    font-size: 64px;
}
.skills{
    margin: 10vh auto;
    width: 1231px;
    height: 1480px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", "Segoe UI", sans-serif;
    animation: bounce;
    z-index: 100;
}
.skills-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #2E7CE9;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(111, 151, 211, 0.143);
    transition-duration: .3s;
}
.skills-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.title-skill{
    width: 90%;
    display: flex;
    margin-left: 8vh; 
    margin-top: 6vh; 
    font-size: 48px;
    color: white
}
.cuadros{
    width: 100%;
    height: 1234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8vh;
}
.habilidad{
    width: 585px;
    height: 567px;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
   /* transparencia */
  backdrop-filter: blur(10px);          /* desenfoque */
  -webkit-backdrop-filter: blur(10px);  /* soporte Safari */
  border-radius: 22px;
  border: 1px solid rgba(209, 209, 209, 0.254); 
  box-shadow: 2px 20px 4px rgba(0, 0, 0, 0.762);  
}
.habilidad:nth-of-type(1){
  background:
  linear-gradient(-45deg, #4278d450 20%, #000 90%);
}
.habilidad:nth-of-type(2){
  background:
  linear-gradient( 135deg, #4278d450 20%, #000 90%);
}
.habilidad:nth-of-type(3){
  background:
  linear-gradient(135deg, #4278d450 20%, #000000 90%), #00000093;
}
.habilidad:nth-of-type(4){
  background:
  linear-gradient(-45deg, #4278d450 20%, #000 90%), #00000093;
}
.img{
    width: 100px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}
.img img{
    width: 80px;
    height: 80px;
    display: flex;
    transition-duration: .5s;
}
.img img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.img h4{
    
    font-size: 20px;
}
.projects{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}
.projects-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #E6F0FD;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(3, 75, 183, 0.157);
}
.projects-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
} 
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 3vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.2rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 3vh;
    margin-left: 5vh;
    color:#7b7f17;
}
.go a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.2rem;
    color:#7b7f17;
}
.botones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4vh;
}
.containers-projects{
    width: 90%;
    height: auto;
    margin: 4vh auto ;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);          /* desenfoque */
    -webkit-backdrop-filter: blur(10px);  /* soporte Safari */
    border-radius: 22px;
    border: 1px solid rgba(163, 163, 163, 0.148); 
    box-shadow: 2px 20px 4px rgba(0, 0, 0, 0.762);  
    background-size: cover;
    justify-content: space-evenly;
    
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20vh;
    width: 30%;
    margin: 0 auto;
    margin-left: 10%;
    
}
.project-sentence{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 5%;
    align-content: space-between;
}
.about-me{
    width: 100%;
    height:auto;
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 100;
}
.about-text{
    width: 688px;
    height: 142px;
    display: flex;
    background-color: #E6F0FD;
    color: black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 4px 10px 12px rgba(111, 151, 211, 0.143);
    transition-duration: .3s;
    font-family: "Barlow Semi Condensed", sans-serif;
    
    
}
.about-container{
    width: 100%; 
    height: auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin-top: 15vh;
}
.history{
    height: auto; 
    width: 60%;
}
.about-me h4{
    color: white;
    font-weight: 300; 
    line-height: 40px; 
    font-size: 36px; 
    margin-bottom: 4vh;
}
.about-text:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.aboutme-photo{
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    overflow: hidden;  
}
.aboutme-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact{
    z-index: 100;
    width: 100%;
    height: 577px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;

}
.contactme{
    font-size: 70px; 
    width: 70%;
    margin: 0 auto; 
    letter-spacing: 4px;
    color: #22669D; 
    text-align: center
}
.cont-contact1{
    width: 40%; 
    margin-left: 12vw; 
    font-family: 'Inter', 
    sans-serif;
}
.cont-contact2{
    width: 30%; 
    font-family: 'Inter', sans-serif;
}
.title-contact{
    font-size: 48px; 
    color: white;
}
.subtitle-contact{
    font-size: 48px; 
    color: #C7CF54;
}
.up{
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #153855;
    transition-duration: 0.3s;
}
.up:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.up-2{
    position: absolute;
    left: 170vh;
    top: 370vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #152055;
    transition-duration: 0.3s;
}
.up-3{
    position: absolute;
    left: 170vh;
    top: 240vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #dde33f5f;
    transition-duration: 0.3s;
}
/* COPOS DE NIEVE */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
  opacity: 0.2;
}
.snow {
  position: absolute;
  top: -50px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fall {
  from { transform: translateY(0); }
  to   { transform: translateY(100vh); }
}

@media (min-width:1700px) and (max-width:1919px) {
        .title[_ngcontent-ng-c2281305362]{
        width: 70%;
        margin: auto;
        margin-left: 15%;
    }

    .texto{
        margin:20vh 0vh 0vh 6vh;
    }
    .menu{
        height: 65vh;
    }
    .about-me h4{
        font-size: 25px;
    }
    .title{
        width: 70%;
        margin: auto;
        margin-left: 10%;
    }
    .up-2{
    
    left: 170vh;
    top: 363vh;
    
}
.up-3{
    left: 170vh;
    top: 196vh;
   
}
}
@media (min-width:1400px) and (max-width:1699px) {
    .menu{
        display: none;
    }
    .about-me h4{
        font-size: 25px;
    }
    .title{
        width: 70%;
        margin: auto;
        margin-left: 22%;
    }
    .texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 80%;
    height: auto;
    
}
    .texto h3{
        margin-left: 10%;
        font-size:25px;
    }
    .im {
    margin-top: 6vh;
    margin-left: 20%;
}
.aboutme-photo{
    margin-top: 5vh;
    width: 40vh;
    height: 40vh;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 2vh 3vh;
    margin-top: 2vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 2vh 3vh;
    margin-top: 2vh;
}
.go a{
    font-size: 1rem;
}
.up-2{
    position: absolute;
    left: 140vh;
    top: 376vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #152055;
    transition-duration: 0.3s;
}
.up-3{
    position: absolute;
    left: 140vh;
    top: 210vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #dde33f5f;
    transition-duration: 0.3s;
}

}

@media (min-width:1050px) and (max-width:1399px) {
    .menu{
        display: none;
    }
    .about-me h4{
        font-size: 25px;
    }
    .about-text{
    width: 688px;
    height: 142px;
    
    
}
    .title{
        width: 70%;
        margin: auto;
        margin-left: 18%;
    }
    .texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 80%;
    height: auto;
    
}
.texto h1{
    margin-right:10%;

    font-size: 80px;
    margin-top: 2vh;
}
    .texto h3{
        margin-left: 10%;
        font-size:25px;
    }
    .im {
    margin-top: 6.5vh;
    margin-left: 20%;
}
about-text{
    width: 40%;
    height: 142px; 
}
.about-text{
    width: 40%;
    height:10%;
    font-size: 25px;
}
.about-container{
    width: 100%;
    height: 80vh;
}
.history{
    height: auto; 
    width: 60%;
    font-size: 15px;
}
.btn-title{
    font-size: 40px;
}
.about-me h4{
    font-weight: 600; 
    font-size: 25px; 
    margin-bottom: 0vh;
}
.aboutme-photo{
    width: 23vh;
    height: 40vh;
    border-radius: 20px;
}
.skills-text{
    width: 40%;
    height:20%;
    font-size: 25px;
}

.skills{
    width: 100%;
    height: auto; 
}
.title-skill{
    width: 90%;
    display: flex;
    margin-left: 1vh; 
    margin-top: 1vh; 
    font-size: 20px;
    color: white
}
.cuadros{
    justify-content: center;
    width: 100%;
    height: auto;
}
.habilidad{
    width: 40%;
    height: 50%;
    padding: 2vh;
    margin: 2vh;
}
.img{
    width: 100px;
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
}
.img img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    transition-duration: .5s;
}
.projects{
    margin-top: 10vh;
}
.projects-text{
    width: 40%;
    height:7%;
    font-size: 25px;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 2.5vh;
    margin-top: 2vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 2vh;
    margin-top: 2vh;
}
.go a{
    font-size: 1rem;
}
.botones{
    height: 6vh;
    margin-left: 1vh;
}
.containers-projects{
    width: 90%;
    height: 30vh;
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-top: 3vh;
    width:250px;
    height: 250px;

    
}
.project-sentence{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 50%;
    margin: 0;
    top: 13%;
    left: 40%;
}
.project-sentence h3{
    font-size: 20px;
    margin: 0;
}
.contact{
    justify-content: space-evenly;
}
.contactme{
    font-size: 40px; 
    width: 80%;
    margin: 10vh auto; 
    letter-spacing: 4px;
    color: #22669D; 
    text-align: center
}
.cont-contact1{
    width: 40%; 
    margin-left: 10vh; 
    font-family: 'Inter', 
    sans-serif;
}
.cont-contact2{
    width: 40%; 
    margin-left: 10vh; 
    font-family: 'Inter', sans-serif;
}
.title-contact{
    font-size: 30px;
}
.subtitle-contact{
    font-size: 25px;
}

.up-2{
    display: none;
    
}
.up-3{
    display: none;
    
}
}
@media (min-width:800px) and (max-width:1049px){
    .menu{
        display: none;
    }
    .buttons{
        justify-content: center;
        width: 60%;
        height: auto;
        margin: 5vh auto;
    }
    .buttons button{
    width: 30vh;
    height: 8vh;
    margin: 2vh;
    justify-content: center;
    align-items: center;
    
    }
    .title{
        width: 75%;
        margin: auto;
        margin-left: 16%;
    }
    .texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 80%;
    height: auto;
    
}
.texto h1{
    margin-right:10%;

    font-size: 70px;
    margin-top: 2vh;
}
    .texto h3{
        margin-left: 10%;
        font-size:25px;
    }
    .im {
    margin-top: 6vh;
    margin-left: 20%;
}
.about-text{
    width: 40%;
    height: 142px; 
}
.about-text{
    width: 50%;
    height:10%;
    font-size: 18px;
}
.about-container{
    width: 100%;
    height: 80vh;
}
.history{
    height: auto; 
    width: 60%;
    font-size: 15px;
}
.btn-title{
    font-size: 40px;
}
.about-me h4{
    font-weight: 300; 
    font-size: 20px; 
    margin-bottom: 0vh;
}
.aboutme-photo{
    width: 23vh;
    height: 40vh;
    border-radius: 20px;
}
.skills-text{
    width: 50%;
    height:15%;
    font-size: 20px;
}

.skills{
    width: 100%;
    height: auto; 
}
.title-skill{
    width: 90%;
    display: flex;
    margin-left: 1vh; 
    margin-top: 1vh; 
    font-size: 20px;
    color: white
}
.cuadros{
    justify-content: center;
    width: 100%;
    height: auto;
}
.habilidad{
    width: 40%;
    height: 50%;
    padding: 2vh;
    margin: 2vh;
}
.img{
    width: 100px;
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
}
.img img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    transition-duration: .5s;
}
.projects{
    margin-top: 10vh;
}
.projects-text{
    width: 50%;
    height:10%;
    font-size: 18px;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 2.5vh;
    margin-top: 2vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 2vh;
    margin-top: 2vh;
}
.go a{
    font-size: 1rem;
}
.botones{
    height: 6vh;
    margin-left: 1vh;
}
.containers-projects{
    width: 90%;
    height: 30vh;
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-top: 3vh;
    width:250px;
    height: 250px;

    
}
.project-sentence{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 50%;
    margin: 0;
    top: 13%;
    left: 40%;
}
.project-sentence h3{
    font-size: 20px;
    margin: 0;
}
.contact{
    justify-content: space-evenly;
}
.contactme{
    font-size: 40px; 
    width: 80%;
    margin: 10vh auto; 
    letter-spacing: 4px;
    color: #22669D; 
    text-align: center
}
.cont-contact1{
    width: 40%; 
    margin-left: 10vh; 
    font-family: 'Inter', 
    sans-serif;
}
.cont-contact2{
    width: 40%; 
    margin-left: 10vh; 
    font-family: 'Inter', sans-serif;
}
.title-contact{
    font-size: 30px;
}
.subtitle-contact{
    font-size: 25px;
}

.up-2{
    display: none;
    
}
.up-3{
    display: none;
    
}
}
@media (min-width:651px) and (max-width:799px){
    
    .menu{
        display: none;
    }
    .buttons{
        justify-content: center;
        width: 60%;
        height: auto;
        margin: 5vh auto;
    }
    .buttons button{
    width: 25vh;
    height: 7vh;
    margin: 2vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
    
    .texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 80%;
    height: auto;
    
}
.title{
    width: 100%;
    margin: 0 auto;
    margin-left: 12%;
    /* clave */
}
.texto h1{
    margin-right:9%;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 70px;
    margin-top: 2vh;
}
    .texto h3{
        margin-left: 10%;
        font-size: 20px;
    }
    .im {
    margin-top: 6vh;
    margin-left: 15%;
}
.about-text{
    width: 40%;
    height: 142px; 
}
.about-text{
    width: 50%;
    height:10%;
    font-size: 18px;
}
.about-container{
    width: 100%;
    height: 80vh;
}
.history{
    height: auto; 
    width: 60%;
    font-size: 15px;
}
.btn-title{
    font-size: 40px;
}
.about-me h4{
    font-weight: 600; 
    font-size: 20px; 
    margin-bottom: 0vh;
}
.aboutme-photo{
    width: 23vh;
    height: 40vh;
    border-radius: 20px;
}
.skills-text{
    width: 50%;
    height:15%;
    font-size: 20px;
}

.skills{
    width: 100%;
    height: auto;
}
.title-skill{
    width: 90%;
    display: flex;
    margin-left: 1vh; 
    margin-top: 1vh; 
    font-size: 20px;
    color: white
}
.cuadros{
    justify-content: center;
    width: 100%;
    height: auto;
}
.habilidad{
    width: 30vh;
    height: 30vh;
    padding: 2vh;
    margin: 2vh;
}
.img{
    width: 100px;
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
}
.img img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    transition-duration: .5s;
}
.projects-text{
    width: 50%;
    height:10%;
    font-size: 18px;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 2.5vh;
    margin-top: 2vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 2vh;
    margin-top: 2vh;
}
.go a{
    font-size: 1rem;
}
.botones{
    height: 6vh;
    margin-left: 1vh;
}
.containers-projects{
    width: 90%;
    height: auto;
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-top: 3vh;
    width:150px;
    height: 150px;

    
}
.project-sentence{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 50%;
    margin: 0;
    top: 10%;
    left: 40%;
}
.project-sentence h3{
    font-size: 14px;
    margin: 0;
}
.contact{
    justify-content: space-evenly;
}
.contactme{
    font-size: 40px; 
    width: 80%;
    margin: 10vh auto; 
    letter-spacing: 4px;
    color: #22669D; 
    text-align: center
}
.cont-contact1{
    width: 40%; 
    margin-left: 5vh; 
    font-family: 'Inter', 
    sans-serif;
}
.cont-contact2{
    width: 40%; 
    margin-left: 5vh; 
    font-family: 'Inter', sans-serif;
}
.title-contact{
    font-size: 25px;
}
.subtitle-contact{
    font-size: 22px;
}

.up-2{
    display: none;
    
}
.up-3{
    display: none;
    
}


}
@media (min-width:312px) and (max-width:650px){
    .texto{
        margin: 30vh 0vh;
        height: auto;
        font-size: 20px;
    }
    .menu{
        display: none;
    }
    .buttons{
        justify-content: center;
        width: 60%;
        height: auto;
        margin: 5vh auto;
    }
    .buttons button{
    width: 25vh;
    height: 7vh;
    margin: 2vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
    
    .texto{
    margin: 25vh auto;
    margin-left: 10%;
    width: 80%;
    height: auto;
    
}
.title{
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
    /* clave */
}
.texto h1{
    margin-right:12%;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 2.5em;
    margin-top: 3.5vh;
}
    .texto h3{
        margin-left: 0%;
        font-size: .8em;
        margin: 0 auto;
    }
    .texto h3:nth-of-type(1){
        margin: 0;
    }
    .im {
    margin-top: 6vh;
    margin-left: 8%;
}
.about-text{
    width: 15em;
    height:4em;
    font-size: 1em;
}
.about-container{
    width: 100%;
    height:110vh;
}
.history{
    height: auto; 
    width: 90%;
    font-size: .5em;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 42vh;
}
.btn-title{
    font-size: 40px;
}
.about-me h4{
    font-weight: 300; 
    font-size: 20px; 
    margin-bottom: 0vh;
}
.aboutme-photo{
    position: absolute;
    top: 20vh;
    width: 20vh;
    height: 20vh;
}
.skills-text{
    width: 15em;
    height:4em;
    font-size: 1em;
}

.skills{
    width: 100%;
    height: auto;
}
.title-skill{
    width: 90%;
    display: flex;
    margin-left: 1vh; 
    margin-top: 1vh; 
    font-size: 20px;
    color: white
}
.cuadros{
    justify-content: center;
    width: 100%;
    height: auto;
}
.habilidad{
    width: 30vh;
    height: auto;
    padding: 2vh;
    margin: 2vh;
}
.img{
    width: 2.5em;
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
}
.img h4{
    margin-left: 10px;
    font-size: 10px;
    color: #E6F0FD;
}
.img img{
    margin-top: 1em;
    width: 2.2em;
    height: 2.2em;
    display: flex;
    transition-duration: .5s;
}
.projects-text{
    width: 50%;
    height:6%;
    font-size: 18px;
}
.code{
    border: none;
    background-color: #2575fc;
    border-radius: 5px;
    padding: 1vh 2.5vh;
    margin-top: 2vh;
    
}
.code a{
    font-weight: 800;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    color:#0b3681;
}
.go{
    border: none;
    background-color: #DDE33F;
    border-radius: 5px;
    padding: 1vh 2vh;
    margin-top: 2vh;
}
.go a{
    font-size: 1rem;
}
.botones{
    height: 6vh;
    margin-left: 1vh;
}
.containers-projects{
    width: 100%;
    height: auto;
    border-radius: 0px;
}
.containers-projects img{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-top: 3vh;
    width:150px;
    height: 150px;

    
}
.project-sentence{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 50%;
    margin: 0;
    top: 10%;
    left: 40%;
}
.project-sentence h3{
    font-size: 14px;
    margin: 0;
}
.contact{
    justify-content: space-evenly;
}
.contactme{
    font-size: 45px; 
    width: 80%;
    margin: 5vh auto; 
    letter-spacing: 0px;
    color: #22669D; 
    text-align: center;
    font-weight: 600;
}
.cont-contact1{
    width: 40%; 
    margin-left: 5vh; 
    font-family: 'Inter', 
    sans-serif;
}
.cont-contact2{
    width: 30%; 
    margin-left: 5vh; 
    font-family: 'Inter', sans-serif;
}
.title-contact{
    font-size: 22px;
    font-weight: 600;
}
.subtitle-contact{
    font-weight: 600;
    font-size: 20px;
}

.up-2{
    display: none;
    
}
.up-3{
    display: none;
    
}

}