@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bowlby+One+SC&family=Jersey+10&family=Martian+Mono:wght@100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ancho del scroll */
::-webkit-scrollbar {
  width: 4px;
}

/* fondo del scroll */
::-webkit-scrollbar-track {
  background: #000;
}

/* barra que se mueve */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #747420,
    #1367ba
  );
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #5a8cff,
    #2b3d8f
  );
}